*{
  box-sizing: border-box;
}


/* ScrollBar Styles */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #b7c9ee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #00ccff, #2055c9);
  border-radius: 10px;
}